[user]
	name = Micah Lee
	email = micah@micahflee.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDQ0cD+QWeMnrO/lhXo/MYrUz1XY7OrL+dQv7JPXCQyd

[commit]
	gpgsign = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[receive]
	fsckObjects = true

[transfer]
	fsckObjects = true

[fetch]
	fsckObjects = true

[pull]
	rebase = false

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
